body {
    margin: 0;
}

#logo {
    width: 30%;
    margin-left: 2%;
    margin-right: 15%;
    visibility: hidden;
}

.nav-item {
    text-decoration: none;
    color: #b48fbb !important;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 1vw;
    margin-right: 4vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 17px;
    white-space: nowrap;
}
  
.active {
    border: 1px solid #b48fbb !important;
}

.navbar-nav {
    width: 100%;
}

.navbar-toggler{
    margin: 20px;
    background-color: white !important;
    border: 2px solid #b48fbb !important;
  }

.navbar-toggler-icon {
    background-image: url("icon.png") !important;
}

@media only screen and (max-width: 1200px) {
    .navbar-nav {
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      max-width: 200px;
      text-align: center;
      padding: 2px !important;
    }
}

.aboutme {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 30px;
}


.aboutmeIMG {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#illustrator p {
    font-family: 'Yellowtail', cursive;
    font-size: 400%;
    color: #b48fbb;
    letter-spacing: 7px;
}

#NatIO{
    width: 60%;
}


#IO {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 70%;
}

#IO2 {
    
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5vw;
    color: #4c4247;
    text-align: center;
    width: 70%; 
}

/* @media only screen and (max-width: 980px) {
    
    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    
    
    .aboutmeIMG {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #NatIO{
        width: 90%;
        margin-top: 300px;
    }
    
    
    #IO {
        width: 30%;
        margin-top: -430px;
    }
    
    #IO2 {
        
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 2.5vw;
        color: #4c4247;
        text-align: center;
        width: 80%;
        align-self: center;
        justify-self: center;
    }
    
    #illustrator p {
        font-family: 'Yellowtail', cursive;;
        font-size: 800%;
        color: #b48fbb;
        letter-spacing: 7px;
    }
    
} */


@media only screen and (max-width: 930px) {
    
    .aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    
    
    .aboutmeIMG {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #NatIO{
        width: 90%;
        /* margin-top: 100px; */
    }
    
    
    #IO {
        width: 30%;
    }
    
    #IO2 {
        
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 2.5vw;
        color: #4c4247;
        text-align: center;
        width: 70%;
        align-self: center;
        justify-self: center;
    }
    
    #illustrator p {
        font-family: 'Yellowtail', cursive;;
        font-size: 200%;
        color: #b48fbb;
        letter-spacing: 7px;
    }
    
}
