body {
    margin: 0;
}

#logo {
    width: 30%;
    margin-left: 2%;
    margin-right: 15%;
}

.nav-item {
    text-decoration: none;
    color: #b48fbb !important;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 1vw;
    margin-right: 4vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 17px;
    white-space: nowrap;
  }
  
.active {
    border: 1px solid #aa79b4 !important;
}

.navbar-nav {
    width: 100%;
    
}

.navbar-toggler{
    margin: 20px;
    background-color: white !important;
    border: 2px solid #b48fbb !important;
}

.navbar-toggler-icon {
    background-image: url("icon.png") !important;
}

@media only screen and (max-width: 1200px) {
    .navbar-nav {
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      max-width: 200px;
      text-align: center;
      padding: 2px !important;
    }

    #logo {
        width: 40%;
        margin-left: 2%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .logoNatalia {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color:#b48fbb;
        font-family: cursive;
        font-size:20px;
    }
    
    .logoNatalia img {
        width: 50%;
    }
    

    .menuNatalia {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 22px;
        display: inline;
    }
    .menuNatalia ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 20px;
        background-color: #fae8ea;
        
    } 
    
    li a {
        text-decoration: none;
        color: #b48fbb;
        font-weight: bold;
    
    }
    
}


.contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 120px;
    padding-top: 60px;
}

.contactgrid{
    display: grid;
    grid-template-columns: 45% 55%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #b48fbb; /* Pink border */
    border-radius: 0px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input:active, input:focus, textarea:active, textarea:focus{
    outline: none !important;
    border: 2px solid #9f71a8;
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color:#b48fbb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker pink color */
input[type=submit]:hover {
    background-color: #9f71a8;
}
  
  /* Add a background color and some padding around the form */
.containerContact {
    border-radius: 0px;
    background-color: white;
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end{
    width: 70%;
    justify-self: center;
}

.cooperate{
    font-family: 'Noto Sans TC', sans-serif;
    color:  #c39eca;
}

#checkTerms{
    width: fit-content;
    align-self: start;
    font-size: 10px;
    margin-top: 20px;

}

.Send{
    font-family: 'Avenir Light';
    margin-top: -20px;
    z-index: 2;
}

.getInTouch{
    font-family: 'Yellowtail', cursive;;
    font-size: 170px;
    margin-right: 90px;
    margin-top: 50px;
    color:  #b48fbb;
}

.copywriteText{
    font-family: 'Avenir';
    font-size: 10px;
    text-align: center;
}


@media only screen and (max-width: 1000px) {

    .contactMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        padding: 0px;
        margin-top: 50px;
    }
    
    .contactgrid{
        display: grid;
        grid-template-columns: 60%;
        
        
    }
    
    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */  
        border: 1px solid #b48fbb; /* Pink border */
        border-radius: 0px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    input:active, input:focus, textarea:active, textarea:focus{
        outline: none !important;
        border: 2px solid #9f71a8;
    }
      
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color:#b48fbb;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
    }
      
    /* When moving the mouse over the submit button, add a darker pink color */
    input[type=submit]:hover {
        background-color: #b48fbb;
    }
      
      /* Add a background color and some padding around the form */
    .containerContact {
        border-radius: 0px;
        background-color: white;
        width: 80%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .end{
        width: 70%;
        justify-self: center;
        text-align: center;
        margin-bottom: 20px;
        
    }
    
    .cooperate{
        font-family: 'Noto Sans TC', sans-serif;
        color: #c39eca;
        font-size: 20px;
        margin-top: 30px;
        
    }
    
    .Send{
        font-family: 'Avenir Light';
        margin-top: -20px;
        z-index: 2;
        margin-bottom: 100px;
    }
    
    .getInTouch{
        font-family: 'Yellowtail', cursive;;
        font-size: 100px;
        color: #b48fbb;
        margin-right: 0;
        margin-top: 30px;
        text-align: center;
    }

    .copywriteText{
        font-family: 'Avenir';
        font-size: 10px;
        text-align: center;
    }
} 
