body {
    margin: 0;
}

.backgroundImage{
    background-image: url("home.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

#logo {
    width: 30%;
    margin-left: 2%;
    margin-right: 15%;
}

.nav-item {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 1vw;
    margin-right: 4vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 17px;
    white-space: nowrap;
}

.active {
    border: 1px solid white !important;
}

.navbar-nav {
    width: 100%;
}

.navbar-toggler{
    margin: 20px;
    background-color: none !important;
    border: 2px solid white !important;
}

.navbar-toggler-icon {
    background-image: url("iconw.png") !important;
}


#illustrator p {
  margin: 0;
  padding: 0;
  font-family: 'Sue Ellen Francisco';
  font-size: 350%;
  color: white;
  letter-spacing: 7px;
  margin-left: 5%;
  margin-top: 0px;
}

#explore p{
  font-size: 22px;
  font-family: 'Noto Sans TC', sans-serif;
  color: white;
  margin-left: 5%;
  margin-top: 0px;
}


@media only screen and (max-width: 1200px) {
    
    .backgroundImage{
        background-image: url("home.png");
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    
     
    .navbar-nav {
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      max-width: 200px;
      text-align: center;
      padding: 2px !important;
    }

    #illustrator p {
      margin: 0;
      padding: 0;
      font-family: 'Sue Ellen Francisco';
      font-size: 300%;
      color: white;
      letter-spacing: 7px;
      margin-left: 5%;
      margin-top: 0px;
    }
    
    #explore p{
      font-size: 17px;
      font-family: 'Noto Sans TC', sans-serif;
      color: white;
      margin-left: 5%;
      margin-top: 0px;
    }

  }


  @media only screen and (max-width: 650px) {
    
    .backgroundImage{
        background-image: url("homeT.png");
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    
    #logo {
      width: 50%;
      margin-left: 2%;
      margin-right: 15%;
  }
     
    .navbar-nav {
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      max-width: 200px;
      text-align: center;
      padding: 2px !important;
    }
    

    #illustrator p {
      margin: 0;
      padding: 0;
      font-family: 'Sue Ellen Francisco';
      font-size: 200%;
      color: white;
      letter-spacing: 7px;
      margin-left: 5%;
      margin-top: 0px;
    }
    
    #explore p{
      font-size: 15px;
      font-family: 'Noto Sans TC', sans-serif;
      color: white;
      margin-left: 5%;
      margin-top: 0px;
    }

  }


